*{
  margin: 0;padding: 0; box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

header{
  width: 100%; height:100vh ;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url(../1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
}

nav{
  width: 100%; height: 15vh;
  background: rgba(0,0,0,0.2);
  color: white; display: flex ; justify-content: space-between;
  align-items: center; text-transform: uppercase;

}

nav .logo{
   width: 26%; text-align: center;
   
}
nav .menu{
  width:40% ; 
  display: flex; justify-content: space-around;
}
nav .menu a{
  width: 25%;
  text-decoration: none; color: white;
}
/* nav .menu a:first-child{
  
} */
.menu a:hover{
  color: black;

}

main{
  width: 100%; height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; color: white;
}

section h1{
  margin: 30px 0 20px 0;
font-size: 55px;
font-weight: 700;
text-shadow: 2px 1px 5px black;
text-transform: uppercase;
}
 
section h3{
  font-size: 35px; font-weight: 200; letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section{
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;

}
section a{
   
   padding: 12px 30px;
   border-radius: 4px;
   outline: none;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 500;
   text-decoration: none;
   letter-spacing: 1px;
   transition: all .5 ease;
}

section .btone{
  background: white;
  color: #000;
}

.btone:hover{
  background: #0066ff;
  color: white;
}

section .bttwo{
  background: white;
  color: #000;
}

.bttwo:hover{
   background: #0066ff;
   color: white;
}

.change_content:after{
  content: '';
  animation: changetext 10s infinite linear;
  color: #0066ff;
  font-size: 75px;
}
@keyframes changetext{
  
  0%{content: "Kanchipuram";}
  20%{content: "Tiruvannamalai";}
  35%{content: "Gingee Fort";}
  60%{content: "Mahabalipuram";}
  80%{content: "Chidambaram";}
  100%{content: "Thanjavur";}
 
}

section p{
  margin: 30px 0 20px 0;

}

